<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>actions.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>services.LoginService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>actions.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>actions.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddExam</servlet-name>
        <servlet-class>actions.AddExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExam</servlet-name>
        <servlet-class>actions.UpdateExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExam</servlet-name>
        <servlet-class>actions.DeleteExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddQuestion</servlet-name>
        <servlet-class>actions.AddQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuestion</servlet-name>
        <servlet-class>actions.UpdateQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>actions.StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStudent</servlet-name>
        <servlet-class>actions.RegisterStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>General</servlet-name>
        <servlet-class>services.General</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetProfile</servlet-name>
        <servlet-class>actions.SetProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProfile</servlet-name>
        <servlet-class>actions.UploadProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>actions.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartExam</servlet-name>
        <servlet-class>actions.StartExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamSubmit</servlet-name>
        <servlet-class>actions.ExamSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamOver</servlet-name>
        <servlet-class>actions.ExamOver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/LoginService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddExam</servlet-name>
        <url-pattern>/AddExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExam</servlet-name>
        <url-pattern>/UpdateExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExam</servlet-name>
        <url-pattern>/DeleteExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddQuestion</servlet-name>
        <url-pattern>/AddQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuestion</servlet-name>
        <url-pattern>/UpdateQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStudent</servlet-name>
        <url-pattern>/RegisterStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>General</servlet-name>
        <url-pattern>/General</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetProfile</servlet-name>
        <url-pattern>/SetProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProfile</servlet-name>
        <url-pattern>/UploadProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartExam</servlet-name>
        <url-pattern>/StartExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamSubmit</servlet-name>
        <url-pattern>/ExamSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamOver</servlet-name>
        <url-pattern>/ExamOver</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
